.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #cfd1e1;
}

@media (orientation: landscape) and (max-width: 650px) {
  .container {
      overflow-y: scroll;
      overflow-x: hidden;
  }
}


