.box {
    --size: 25em;
    position: relative;
    width: var(--size);
    height: calc(var(--size) * 1.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--size) * .0625);
    background: linear-gradient(#fff, #fff, #e3e3e3);
    filter: blur(1px);
    z-index: 1;
}

.box::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1%;
    height: 100%;
    width: calc(var(--size) * .0625);
    background: #9d9d9d;
    filter: blur(1px);
    z-index: 1;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
}

.shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% + 96px);
    width: 120%;
    height: 240%;
    background: linear-gradient(rgba(0, 0, 0, .25), transparent);
    transform: skewX(45deg);
}

.shadow::after {
    content: '';
    position: absolute;
    bottom: -200%;
    left: calc(100% + 80px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(0, 0, 0, .075), transparent);
    transform: skewX(45deg);

}

.form .inputBox {
    width: 100%;
    position: relative;
    margin-top: 5%;
}

.inputBox input, .submit {
    position: relative;
    width: 100%;
    padding: 10px 0 10px 25px;
    font-size: 1.25em;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 3px solid #444;
    outline: none;
}

input[type='text'], input[type='password'] {
    padding-left: 2em;
}

.icon {
    position: absolute;
    left: 0;
    bottom: 50%;
    font-size: 1.25em;
    pointer-events: none;
    color: #444;
}

.cover {
    position: absolute;
    top: 0;
    left: -25%;
    width: calc(var(--size) / 4);
    height: calc(var(--size) / 4);
    background: #CFD1E1;
    z-index: 3;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1),
        15px 15px 15px rgba(0, 0, 0, .1),
        20px 10px 20px rgba(0, 0, 0, .1),
        50px 50px 70px rgba(0, 0, 0, .25),
        inset 3px 3px 2px #fff;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #444;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 7%;
}

.form h2 {
    font-size: 2em;
    color: #444;
    margin-bottom: 5%;
}

.links {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 6%;
}

.links p {
    display: block;
    margin: 2% 0;
    position: relative;
    cursor: pointer;
    transition: .5s all;
}

.links p:hover {
    color: rgb(30, 30, 255);
}

.iconLink {
    position: relative;
    bottom: -2px;
    left: 0;
    margin-right: 10px;

}

.form .submit {
    background: #444;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    transition: .5s all;
}

.form .submit:hover {
    background: #333;
}

@media (orientation: landscape) and (max-width: 650px) {
    .box {
        top: 20%;
    }
}

@media (max-width: 450px) {
    .box {
        --size: 21em;
        height: calc(var(--size) * 1.5);
    }

    .shadow::before {
        width: 150%;
    }

    .shadow::after {
        width: 100%;
        left: calc(100% + 165px);
    }

    .cover {
        height: 200px;
    }

    .form h2 {
        font-size: 1.8em;
    }

    
.form .submit {
    font-size: 1.2em;
}
}

@media (max-width: 367px) {
    .box {
        --size: 18em;
        height: calc(var(--size) * 1.5);
    }

    .shadow::before {
        width: 150%;
        left: 130%;
        top: 0%;
    }

    .shadow::after {
        left: 150%;
    }

    .logo {
        width: 55px;
        height: 55px;
        font-size: 1.5em;
    }

    .form h2 {
        font-size: 1.6em;
    }

    .icon {
        font-size: .9em;
    }

    .links p {
        font-size: .9em;
    }

    .form .submit {
        font-size: 1em;
    }
}